---
import { Code, Steps } from '@astrojs/starlight/components';
import OsAwareTabs from '@components/OsAwareTabs.astro';
import AsciinemaPlayer from '@components/AsciinemaPlayer.astro';
---

<Steps>
  <ol>
    <li>
      <p>{Astro.locals.t('aspire.installCli')}</p>
      <OsAwareTabs syncKey="terminal">
        <Code
          lang="bash"
          slot="unix"
          title={Astro.locals.t("aspire.installCliGlobally")}
          code="curl -sSL https://aspire.dev/install.sh | bash"
          />
        <Code
          lang="powershell"
          slot="windows"
          title={Astro.locals.t("aspire.installCliGlobally")}
          code="irm https://aspire.dev/install.ps1 | iex"
          />
      </OsAwareTabs>
    </li>
    <li>
      <p>{Astro.locals.t("aspire.verifyInstallation")}</p>
      <OsAwareTabs syncKey="terminal">
        <Code
          lang="bash"
          slot="unix"
          title={Astro.locals.t("aspire.checkVersion")}
          code="aspire --version"
          />
        <Code
          lang="powershell"
          slot="windows"
          title={Astro.locals.t("aspire.checkVersion")}
          code="aspire --version"
          />
      </OsAwareTabs>
      <p>{Astro.locals.t('aspire.verifyInstallationText')}</p>
    </li>
    <li>
      <p>
        {Astro.locals.t('aspire.helpCommand')}
      </p>
      <AsciinemaPlayer src="/casts/aspire-help.cast" poster="npt:0:03" rows="21" />
    </li>
  </ol>
</Steps>
